/* Navbar styles */
.navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color:black ;
  margin-left: 2rem;
  padding: 0.5rem 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin-right: 2rem;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  background-color: #263e79;
  padding: 0.5em 1em;
  border-radius: 10px; /* Ensures oval shape */
  line-height: 1.5; /* Ensures consistent height */
  white-space: nowrap; /* Prevents text wrap */
}

.navbar ul li a:hover {
  text-decoration: underline;
}
