/* Navbar styles */
.navbar {
  background-color: #fc8019;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: white;
  margin-left: 2rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin-right: 2rem;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar ul li a:hover {
  text-decoration: underline;
}
